.rank {
    position: fixed;
    width: 100%;
    top: 2.2073333rem;
    bottom: 0;
    .rank-content {
        width: 9.5rem;
        height: 100%;
        margin: auto;
        margin-top: .4rem;
        overflow: hidden;
    }
    .rank-ul {
        li {
            position: relative;
            margin-top: .4rem;
            div:first-child {
                position: absolute;
                left: 0;
                width: 2.163333rem;
                height: 1.333333rem;
                img {
                    width: 100%;
                    border-radius: .133333rem;
                }
            }
            div:last-child {
                margin-left: 2.5rem;
                border-bottom: .023333rem solid #999;
                p {
                    margin-bottom: .3rem;
                    letter-spacing: .002rem;
                    font-size: .32rem;
                }
            }
        }
    }
}