.singer {
    .singer-content {
        height: 100%;
        .c-li {
            p:first-child {
                height: .533333rem;
                background: rgb(217, 218, 219);
            }
            &>div {
                position: relative;
                height: 2.333333rem;
                left: .15rem;
                img {
                    position: absolute;
                    left: 0;
                    width: 2.033333rem;
                    height: 2.033333rem;
                    border-radius: .053333rem;
                   
                }
                p {
                    line-height: 2.333333rem;
                    margin-left: 2.5rem;
                    font-size: .32rem;
                }
            }
        }
    }
}