.nav {
    letter-spacing: -4px;
    padding: .4rem;
    a {
        display: inline-block;
        width: calc(100%/ 3);
        letter-spacing: normal;
        text-align: center;
        text-decoration: none;
        span {
            display: inline-block;
            width: 30%;
            padding-bottom: .2rem;
        }
        .nav-active {
            border-bottom: 1px solid;
        }
        
    }
}