.header {
    position: relative;
    padding: .1rem .1rem;
    background: #34C17D;
    color: #fff;
    h2 {
        text-align: center;
    }
    .header-list {
        position: absolute;
        left: .3rem;
    }
    .header-search {
        position: absolute;
        top: 0.1rem;
        right: .3rem;
    }
}