.recommend {
    .nav {
        ul {
            font-size: 0;
            letter-spacing: -3px;
        }
        li {
            list-style-type: none;
            display: inline-block;
            width: calc(100% / 3);
        }
    }
}