.recommend {
    position: relative;
    padding-bottom: 2rem;
    .slider-wrapper {
        width: 9.5rem;
        margin: auto;
    }
    .decorection {
        position: absolute;
        top: -30vh;
        left: 0;
        z-index: -10;
        background: #34C17D;
        width: 100%;
        height: 50vh;
        vertical-align: inherit;
    }
    .song-sheet {
        margin: .3rem 0;
        font-weight: bold;
        font-size: .35rem;
    }
    .song-sheet-lit {
        li {
            position: relative;
            display: inline-block;
            margin-right: .1rem;
            margin-bottom: .2rem;
            width: 32%;
            .img-ico {
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: .1rem;
                }
            }
            .img-text {
                position: absolute;
                top: 2px;
                right: 2px;
                color: #fff;
            }
            .text {
                height: .833333rem;
                overflow: hidden;
                font-size: .3rem;
                color: #666;
            }
        }
    }
}